.body{
    margin: 0;
}
#encabezado{
    background-color: blue;
}
.conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
}
.redes{
    margin-right: 0.5em;
    background-color: blue;
}
#logoap{
    width: 400px;
    right: 75%;
    background-color: blue;
}
img{
    width: 95px;
}
.btn{
    border-width: medium;
}
/*para la vista de celular*/
@media(max-width:575px){
    .conteiner{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes{
        margin: 0.1em;
    }
}
/*acerca de mi*/
.acerca de{
    padding: 30px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}
/*estilo foto de perfil*/
@media (min-width: 576px){
    #foto{
        position: absolute;
        width: 20%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px  blue;
        left: 3%;
        top: 50%;        
    }
}
@media (max-width: 575px){
    #foto{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px  blue;
        left: 3%;
        top: 50%;        
    }
}
/* etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 75%;    
}
/*experiencia*/
.experiencia{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
}
h1, h3{
    display: inline;
}
/*educacion*/
.row{
    padding: 30px;
}
div{
    background-color: #a1b5cb;
}
h1, h3{
    display: inline;
}
.educacion{
    background-color: #a1b5cb;
    padding: 20px;
}
/*fooder*/
footer{
    color: red;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px spx #999;
}
/*hys*/
.hys{
    margin-right: 0.5em;
}
label {
    padding-right: 50px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}